<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Light Work</title>
    <link rel="stylesheet" href="/static/css/style.css">


    </script>

  </head>
  <header>
      <div class="nav">
        <ul>
          <img src ="/static/icon_1.png" class = "logo">
          <li><a href="/">Home</a></li>
          <li><a href="/search">Search</a></li>
          <li><a class="active" href="#">Chat</a></li>
        </ul>
      </div>
    </header>
    <script type="text/javascript">
      window.__lc = window.__lc || {};
      window.__lc.license = 11480528;
      (function() {
        var lc = document.createElement('script'); lc.type = 'text/javascript'; lc.async = true;
        lc.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'cdn.livechatinc.com/tracking.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(lc, s);
      })();
    </script>
    <noscript>
    <a href="https://www.livechatinc.com/chat-with/11480528/" rel="nofollow">Chat with us</a>,
    powered by <a href="https://www.livechatinc.com/?welcome" rel="noopener nofollow" target="_blank">LiveChat</a>
    </noscript>
  <body>

</body>
</html>
