<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Light Work</title>
    <link rel="stylesheet" href="/static/css/style.css">


    </script>

  </head>
  <header>
      <div class="nav">
        <ul>
          <img src ="/static/icon_1.png" class = "logo">
          <li><a href="/templates/home.html">Home</a></li>
          <li><a href="/templates/index.html">Search</a></li>
          <li><a class="active" href="#">Chat</a></li>
        </ul>
      </div>
    </header>
  <body>

</body>
</html>
