<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Light Work</title>
    <link rel="stylesheet" href="/static/css/home.css">


    </script>

  </head>
  <header>
      <div class="nav">
        <ul>
          <img src ="/static/icon_1.png" class = "logo">
          <li><a class="active" href="#">Home</a></li>
          <li><a href="/search">Search</a></li>
        </ul>
      </div>
    </header>
  <body>
    <br><br><br><h3>Do You Need Help in any of the following subjects?</h3><br><br><br><br>



    <div class='some-page-wrapper'>

      <div class='row'>
        <div class='column'>
          <div class='blue-column'>
            <img src="/static/globe.png" >
          </div>
        </div>
        <div class='double-column'><br>
          <h2>History</h2>
        </div>
        <div class='column'>
          <div class='blue-column'>
            <img src="/static/logoholder.png" >
          </div>
        </div>
        <div class='double-column'><br>
          <h2>English</h2>
        </div>
      </div>
      <div class='row'>
        <div class='column'>
          <div class='blue-column'>
            <img src="/static/coding.png" >
          </div>
        </div>
        <div class='double-column'><br>
          <h2>Computer Science</h2><br>
        </div>
        <div class='column'>
          <div class='blue-column'>
            <img src="/static/math.png" >
          </div>
        </div>
        <div class='double-column'><br>
          <h2>Math</h2>
        </div>
      </div>
      <div class='row'>
        <div class='column'>
          <div class='blue-column'>
            <img src="/static/science.png" >
          </div>
        </div>
        <div class='double-column'><br>
          <h2>Science</h2>
        </div>
        <div class='column'>
          <div class='blue-column'>
            <img src="/static/language.png" >
          </div>
        </div>
        <div class='double-column'><br>
          <h2>Language</h2>
        </div>
      </div>
    </div>


    <!-- Start of LiveChat (www.livechatinc.com) code -->
<script type="text/javascript">
  window.__lc = window.__lc || {};
  window.__lc.license = 11480528;
  (function() {
    var lc = document.createElement('script'); lc.type = 'text/javascript'; lc.async = true;
    lc.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'cdn.livechatinc.com/tracking.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(lc, s);
  })();
</script>
<noscript>
<a href="https://www.livechatinc.com/chat-with/11480528/" rel="nofollow">Need Help With Your School Work?</a>
</noscript>
<!-- End of LiveChat code -->

  </body>
</html>
