<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Light Work</title>
    <link rel="stylesheet" href="style.css">

  </head>
  <header>
      <div class="nav">
        <ul>
          <img src ="logoholder.png" class = "logo">
          <li class="upload"><a href="/">Home</a></li>
          <li class="search"><a class="active" href="#">Search</a></li>
          <li class="about"><a href="/about">About Us</a></li>
        </ul>
      </div>
    </header>
  <body>


  </body>
</html>
