<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Light Work</title>
    <link rel="stylesheet" href="/static/css/style.css">


    </script>

  </head>
  <header>
      <div class="nav">
        <ul>
          <img src ="/static/icon_1.png" class = "logo">
          <li class="upload"><a href="/">Home</a></li>
          <li class="search"><a class="active" href="#">Search</a></li>
          <li class="about"><a href="/about">About Us</a></li>
        </ul>
      </div>
    </header>
  <body>

    <button class="btn active" id= "allbutton" onclick="filterSelection('all')"> Show all</button>
    <ul class="flex-container">
    <li class="flex-item"><img class="btn" onclick="filterSelection('english')" src ="/static/logoholder.png" class = "icons"></li>
    <li class="flex-item"><img class="btn" onclick="filterSelection('science')" src ="/static/science.png" class = "icons"></li>
    <li class="flex-item"><img class="btn" onclick="filterSelection('language')" src ="/static/language.png" class = "icons"></li>
    <li class="flex-item"><img class="btn" onclick="filterSelection('math')" src ="/static/math.png" class = "icons"></li>
    <li class="flex-item"><img class="btn" onclick="filterSelection('history')" src ="/static/globe.png" class = "icons"></li>
    <li class="flex-item"><img class="btn" onclick="filterSelection('coding')" src ="/static/coding.png" class = "icons"></li>
    </ul>


      <section id ="parent">
       <div class="mission">
           <div class="col-one">
             <h2>Lightwork is a an online tutoring and homework comunity. Use this search bar to find what you need</h2>
           </div>
       </div>
     </section>



     <!-- FILTER -->

   <body>

   <h2>Filter DIV Elements</h2>

   <div class="container">
     <div class="filterDiv english">English</div>
     <div class="filterDiv science coding">cs and coding</div>
     <div class="filterDiv language">Language</div>
     <div class="filterDiv english">English</div>
     <div class="filterDiv math">Math</div>
     <div class="filterDiv history">Blue</div>
     <div class="filterDiv coding">Coding</div>
     <div class="filterDiv math">Math</div>
     <div class="filterDiv science">Melon</div>
     <div class="filterDiv math science">math and sci</div>
     <div class="filterDiv math">Math</div>
     <div class="filterDiv english">English</div>
     <div class="filterDiv language">Language</div>
   </div>

   <script src="script.js"></script>

  </body>
</html>
