<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/static/css/landing.css">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:200&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Merriweather:700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:500&display=swap" rel="stylesheet">
    <title></title>
  </head>
  <body>
    <h6>Light Work</h6>

    <div class="home-utility">
      <input type="image" src="/static/Icon_1.png" name="saveForm" class="landing_logo" id="saveForm" />

         <div class="col-one">
           <h3>Taking weight off students' shoulders </h3>
           <br>
           <h2>Lightwork is a an online tutoring and homework comunity.</h2>
         </div>
         </div>
     </div>
  </body>
</html>
