<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/static/css/landing.css">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:200&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Merriweather:700&display=swap" rel="stylesheet">
    <title></title>
  </head>
  <body>
    <h6>Light Work</h6>



    <div class="home-utility">
         <div class="col-one">
            <img class = "landing_logo" src ="/static/Icon_1.png" >
         </div>

         <div class="col-one">
           <button class="btn active">< a href= "/sign_in"> Sign Up</a></button>
         </div>

         <div class="col-one">
           <h3>Taking weight off students' shoulders </h3>
           <br>
           <h2>Lightwork is a an online tutoring and homework comunity. Use this search bar to find what you need</h2>
         </div>
         </div>
     </div>


  </body>
</html>
