<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Light Work</title>
    <link rel="stylesheet" href="/static/css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Merriweather:700&display=swap" rel="stylesheet">

    </script>

  </head>
  <header>
      <div class="nav">
        <ul>
          <img src ="/static/Icon_1.png" class = "logo">
          <li><a href="/index">Home</a></li>
          <li><a class="active" href="#">Search</a></li>
          <li><a href="/chat">Chat</a></li>
        </ul>
      </div>
    </header>
  <body>
    <ul class="flex-containers">
    <li class="flex-item"><img class="btns" onclick="filterSelection('english')" src ="/static/logoholder.png" class = "icons"></li>
    <li class="flex-item"><img class="btns" onclick="filterSelection('science')" src ="/static/science.png" class = "icons"></li>
    <li class="flex-item"><img class="btns" onclick="filterSelection('language')" src ="/static/language.png" class = "icons"></li>
    <li class="flex-item"><img class="btns" onclick="filterSelection('math')" src ="/static/math.png" class = "icons"></li>
    <li class="flex-item"><img class="btns" onclick="filterSelection('history')" src ="/static/globe.png" class = "icons"></li>
    <li class="flex-item"><img class="btns" onclick="filterSelection('coding')" src ="/static/coding.png" class = "icons"></li>
    </ul>


      <section id ="parent">
       <div class="mission">
           <div class="col-one">
             <br>
             <h2>Lightwork is a an online tutoring and homework comunity. Use this search bar to find what you need</h2>
           </div>
       </div>
     </section>

     <ul class="flex-container">
     <li class="flex-item"><button class="btn active" onclick="filterSelection('all')"> Show all</button></li>
     </ul>

     <!-- FILTER -->

   <body>

   <h2>Filter DIV Elements</h2>

   <div class="container">

     <div class="filterDiv math"><img src ="/static/math3.jpg">Math</div>
     <div class="filterDiv science coding"><img src ="/static/language.jpg">cs and coding</div>
     <div class="filterDiv language"><img src ="/static/language.jpg">Language</div>
     <div class="filterDiv english"><img src ="/static/essay2.jpg">English</div>
     <div class="filterDiv math"><img src ="/static/math1.png">Math</div>
     <div class="filterDiv history">History</div>
     <div class="filterDiv coding">Coding</div>
     <div class="filterDiv math">Math</div>
     <div class="filterDiv science">Science</div>
     <div class="filterDiv math science">math and sci</div>
     <div class="filterDiv math"><img src ="/static/math4.jpg" >Math</div>
     <div class="filterDiv english">English</div>
     <div class="filterDiv language"><img src ="/static/language4.jpg" >Language</div>
   </div>

   <script src="/static/js/script.js"></script>

   <script type="text/javascript">
     window.__lc = window.__lc || {};
     window.__lc.license = 11480528;
     (function() {
       var lc = document.createElement('script'); lc.type = 'text/javascript'; lc.async = true;
       lc.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'cdn.livechatinc.com/tracking.js';
       var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(lc, s);
     })();
   </script>
   <noscript>
   <a href="https://www.livechatinc.com/chat-with/11480528/" rel="nofollow">Need Help With Your School Work?</a>
   </noscript>
  </body>
</html>
